<% provide(:title, 'Login') %>
<% provide(:button_text, 'Login') %>
<div class="general__image-gradient">
    <div class="header-mask">
        <div class="header-content">
            <div class="header-content-inner">
                <div class="col-md-6 col-md-offset-3">
                    <h1 id="homeHeading" class="wow fadeInUp">Login</h1>
                    <hr>
                    <% if flash[:danger].blank? %>
                    <% else %>
                      <div class="alert alert-danger">
                        <%= flash[:danger] %>
                      </div>
                    <% end %>

                    <% if flash[:created].blank? %>
                    <% else %>
                      <div class="alert alert-success">
                        <%= flash[:created] %>
                      </div>
                    <% end %>
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
</div>
