<% provide(:title, @user.first_name) %>

<div class="general__image-gradient">
  <div class="header-mask">
    <aside class="col-md-4">
      <section class="user-info">
        <h1>
          <%= @user.first_name %>
          <%= @user.last_name %>
        </h1>
      </section>
    </aside>
  </div>
</div>
