<%
  title = "#{@user.first_name} #{@user.last_name}'s Profile"
  provide(:title, title)
%>

<div class="general__image-gradient">
  <div class="header-mask">
    <br/>
    <br/>
    <br/>
    <div class="col-md-12">
      <section class="user-info">
        <%=
        if File.exist?(Rails.root.join('app', 'assets', 'images', 'users', "#{@user.id}_profile.jpg"))
          image_tag("users/#{@user.id}_profile.jpg", class: "profile_picture")
        else
          image_tag('users/noimage.jpg', class: "profile_picture")
        end
        %>
        <h1>
          <%= @user.first_name %>
          <%= @user.last_name %>
        </h1>
      </section>

      <section class="profile-body no-bottom-padding">
        <%= render 'upload' %>
      </section>
    </div>
  </div>
</div>
