<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <%= image_tag("menu-light.svg") %>
            </button>
            <a class="navbar-brand page-scroll navbar-brand-custom" href="#page-top">

            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span><%= image_tag("icons/caret.svg", alt: "Jason")  %></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </li>
                <li>
                    <a class="page-scroll" href="#feedback">Feedback</a>
                </li>
                <li>
                    <a class="page-scroll" href="#pricing">Compare</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header class="general__image-gradient">
    <div class="header-mask">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="wow fadeInUp">Elisa is a fully responsive multipurpose landing page template</h1>
                <hr>
                <p class="wow fadeInUp" data-wow-delay="0.3s">Elisa if a <i>multipurpose fully responsive</i> landing page template, that was built using latest Bootstrap framework
                    and top technologies. Tons of components and well-written and commented code allows you to customize our theme as you want!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll wow fadeInUp" data-wow-delay="0.6s">Find Out More</a>
            </div>
        </div>
    </div>
</header>
